/* Global Variables */
:root {
  /** Themes */
  --prim-theme-color: #2f3942;
  --scnd-theme-color: #2c4a52;
  --alt-theme-color: #111;

  /** Fonts */
  --ui-header-font: 'Lexend Deca';
  --ui-main-font: 'Fira Sans';
  --ui-main-font-color: #fff;
  --ui-fade-font-color: #b1fff8;

  /* Shadow/Depth */
  --depth-1: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  --depth-2: 0 6px 12px 4px rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

/* Global Styles */
* { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  color: var(--ui-main-font-color);
  font-family: var(--ui-header-font), sans-serif;
  text-decoration: none;
}

body {
  display: grid;
  cursor: default;
  padding: 0;
  background-color: var(--prim-theme-color);
}

