body {
  display: grid;
  grid-template-rows: min-content 9fr;
}

nav {
  display: grid;
  align-items: center;
  background-color: var(--ui-back-font-color);
}

nav > p {
  padding: 0.5rem;
  color: #fff;
  font-size: 1.25rem;
}

main {
  align-items: center;
}

#banner {
  display: grid;
  grid-template-rows: repeat(3, min-content);
  align-items: center;
  background-color: var(--back-bg-color);
}

#banner > h1 {
  font-size: 1.75rem;
}

#banner > button {
  margin: 0 7.5%;
  padding: 0.5rem;
  border: 0.25rem solid var(--ui-back-font-color);
  border-radius: 1.25rem / 50%;
  font-size: 1.25rem;
}

#banner > p {
  font-size: 1rem;
}
