#banner {
  height: 40vh;
  align-content: center;
  background-color: var(--back-bg-color);
}

#banner > h1 { font-size: 1.75rem; }
#banner > p { font-size: 1rem; }

#floating-button {
  grid-template-columns: minmax(auto, 400px);
  justify-content: center;
}

#floating-button > a {
  transform: translateY(-50%);
  padding: 0.5rem 0;
  border: 0.25rem solid currentcolor;
  border-radius: 1.25rem / 50%;
  font-size: 1.25rem;
  color: var(--ui-back-font-color);
  background-color: var(--ui-main-font-color);
  text-decoration: none;
  z-index: 2;
  box-shadow: var(--depth-1);
  transition: all 0.1s;
}

#floating-button > a:hover {
  transform: translateY(-50%) scale(1.05);
  background-color: #ccc;
  box-shadow: var(--depth-2);
}
