nav {
  display: grid;
  -webkit-position: sticky;
  position: sticky;
  top: 0;
  grid-template-columns: min-content 1fr max-content;
  grid-auto-flow: column;
  background-color: var(--alt-theme-color);
  box-shadow: var(--depth-1);
  z-index: 1;
}

nav > div {
  display: flex;
  align-items: center;
}

nav a {
  display: block;
  padding: 0.75rem;
  color: var(--ui-main-font-color);
  font-size: 1.25rem;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav-links {
  position: static;
  display: none;
}

.nav-links__hamburger { display: block; }
.profile-info { display: none; }
.profile-info > a { padding: 0.75rem; }
.profile-info__pic {
  height: 100%;
  border: 0.1rem solid var(--ui-fade-font-color);
  border-radius: 50%;
}

@media only screen
  and (min-width: 825px) {
    .profile-info { display: block; }
    .profile-info__pic { display: block; }

    .profile-info > a {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 0.75rem;
    }

    .nav-links { display: flex; }
    .nav-links__hamburger { display: none; }
}
