nav {
  display: grid;
  -webkit-position: sticky;
  position: sticky;
  top: 0;
  grid-template-columns: min-content min-content 1fr max-content;
  grid-auto-flow: column;
  background-color: var(--alt-theme-color);
  box-shadow: var(--depth-1);
  z-index: 2;
}

nav > ul, nav > a {
  margin: 0;
  background-color: var(--alt-theme-color);
}

nav > ul > li, nav > a { transition: background-color 0.1s; }

nav > ul > li:hover, nav > a:hover { background-color: var(--acc-theme-color); }

nav ul {
  display: flex;
  padding: 0;
  align-items: center;
  list-style-type: none;
}

nav a {
  display: block;
  padding: 0.75rem;
  color: var(--ui-main-font-color);
  font-size: 1.25rem;
  text-decoration: none;
}

#nav-drawer {
  position: fixed;
  top: 0;
  left: -75vw;
  display: block;
  min-height: 100vh;
  width: 75vw;
  box-shadow: var(--depth-1);
  transition: left 0.1s;
}

#nav-drawer.visible { left: 0; }

.brand-links__hamburger {
  display: block;
  margin-left: 0.75rem;
  filter: brightness(0) invert(1);
  transition: filter 0.3s;
}

.brand-links__hamburger:hover { filter: brightness(1); }

.profile-info {
  display: none;
  padding: 0.75rem;
}

.profile-info__pic {
  height: 100%;
  border: 0.1rem solid var(--ui-fade-font-color);
  border-radius: 50%;
}

.profile-dropdown {
  overflow: hidden;
  display: none;
  position: absolute;
  bottom: -100%;
  right: -250px;
  border-bottom-left-radius: 0.75rem;
  width: 250px;
  box-shadow: var(--depth-1);
  transition: right 0.2s;
}

.profile-dropdown:hover,
.profile-info:hover + .profile-dropdown {
  right: 0;
}

@media only screen
  and (min-width: 825px) {
    .profile-info { display: block; }
    .profile-info__pic { display: block; }

    .profile-info {
      display: grid;
      grid-auto-flow: column;
      grid-column-gap: 0.75rem;
    }

    #nav-drawer {
      position: static;
      display: flex;
      width: initial;
      min-height: initial;
      box-shadow: initial;
    }

    .brand-links__hamburger { display: none; }
    .profile-dropdown { display: block; }
}
