body {
  grid-template-rows: min-content;
  grid-auto-rows: 1fr;
}

main {
  margin: 0.75rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 0.75rem;
}

.card {
  padding: 0.75rem;
  border-radius: 1rem;
  background-color: var(--scnd-theme-color);
  grid-template-rows: max-content;
  grid-template-areas:
    'image'
    'icon'
    'details'
    'date';
  grid-row-gap: 0.5rem;
  box-shadow: var(--depth-1);
}

.card > img {
  width: 100%;
  border-radius: inherit;
  max-height: 100%;
  object-fit: cover;
  grid-area: image;
}

.card > p {
  margin: 0;
  font-size: 0.75rem;
}

.icon {
  grid-area: icon;
  align-self: center;
  color: var(--ui-fade-font-color);
}

.details { grid-area: details; }
.details > a {
  font-size: 0.75rem;
  color: var(--ui-main-font-color);
}

.date {
  grid-area: date;
  align-self: end;
  color: var(--ui-fade-font-color)
}

.icon, .date { text-align: right; }

@media only screen
  and (max-width: 435px) {
    .card {
      grid-template-columns: 1fr 2fr;
      align-items: center;
      grid-template-areas:
        'image icon'
        'image details'
        'image date';
      grid-column-gap: 0.75rem;
    }
}
