main {
  margin: 0.75rem;
  display: grid;
}

.user-info > img {
  display: block;
}

.timeline {
  display: grid;
  grid-gap: 0.75rem;
}

.card {
  display: grid;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--scnd-theme-color);
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 0.75rem;
  align-items: center;
}

.card p { color: var(--ui-fade-font-color); }

.card a, .card p {
  font-size: 1rem;
  font-family: var(--ui-main-font);
}

.card > section {
  position: relative;
  display: grid;
}

.card__preview img {
  display: block;
  width: 100%;
  border-radius: 0.75rem;
}

.card__preview img:first-child {
  display: none;
  filter: brightness(0.8);
}

.card__details {
  justify-items: start;
  align-content: space-between;
  align-self: stretch;
  grid-row-gap: 0.25rem;
}

.card__details > img {
  display: block;
  height: 1.25rem;
  filter: brightness(0.8);
}

.card__details > img, .card__details > p:last-child { justify-self: end; }

.card__details a:hover { text-decoration: underline; }

.error-popup {
  display: grid;
  grid-row-gap: 0.5rem;
  position: fixed;
  bottom: 0;
  padding: 1rem;
  border: 0.25rem solid currentcolor;
  width: 100vw;
  color: #5f1414;
  background-color: #ec8686;
  box-shadow: 0 -6px 12px 4px rgba(0, 0, 0, 0.15), 0 -2px 4px 0 rgba(0, 0, 0, 0.5);
}

.error-popup > header {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.error-popup * { color: inherit; }
.error-popup a { font-weight: bold; }
.error-popup a:hover { text-decoration: underline; }

.error-popup__close-button {
  cursor: pointer;
  text-align: right;
  font-size: 1.5rem;
  font-weight: bold;
}

.error-popup__close-button:hover { text-decoration: underline }

@media only screen
  and (min-width: 500px) {
    .timeline { grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); }

    .card {
      grid-template-columns: initial;
      grid-column-gap: initial;
      grid-template-rows: min-content 1fr;
      grid-row-gap: 0.75rem;
      align-items: initial;
    }

    .card a, .card p { font-size: 1.25rem; }

    .card__details > img {
      display: none;
      font-size: 1rem;
      filter: brightness(0.8) drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
    }

    .card__preview img:first-child {
      display: block;
      position: absolute;
      top: 3%;
      right: 3%;
      width: 15%;
      filter: brightness(0.8) drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
    }
}