main {
  display: grid;
  margin: 0.75rem;
  grid-gap: 0.75rem;
}

.card {
  display: grid;
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--scnd-theme-color);
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 0.75rem;
  align-items: center;
}

.card a, .card p {  font-size: 1.25rem; }

.card > section {
  position: relative;
  display: grid;
}

.card__preview img {
  display: block;
  width: 100%;
  border-radius: 0.75rem;
}

.card__preview img:first-child { display: none; }

.card__details {
  justify-items: start;
  align-content: space-around;
  grid-row-gap: 0.5rem;
}

.card__details > img {
  display: block;
  height: 1.25rem;
}

.card__details > img, .card__details > p:last-child { justify-self: end; }

.card__details a:hover { text-decoration: underline; }

@media only screen
  and (min-width: 500px) {
    main { grid-template-columns: repeat(auto-fit, minmax(230px, 1fr)); }

    .card {
      grid-template-columns: initial;
      grid-column-gap: initial;
      grid-template-rows: min-content 1fr;
      grid-row-gap: 0.75rem;
    }

    .card a, .card p { font-size: 1rem; }

    .card__details { align-content: space-between; }

    .card__details > img {
      display: none;
      font-size: 1rem;
    }

    .card__preview img:first-child {
      display: block;
      position: absolute;
      top: 3%;
      right: 3%;
      width: 15%;
      filter: drop-shadow(2px 2px 1px rgba(0, 0, 0, 0.75));
    }
}