<main>
  <header id="banner">
    <h1 class="txt-center">SoundRave</h1>
    <p class="txt-center">Stay up to date with your favorite artists. The easy way.</p>
  </header>
  <div id="floating-button">
    <a href="/login" class="block txt-center depth-1">Go to Your Timeline</a>
  </div>
</main>
