<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %> 
  <body>
    <main>
      <% if (locals.releases && locals.releases.length > 0) { %>
        <%- include('partials/releases.ejs'); %> 
      <% } else { %>
        <button>Sign in with Spotify</button>
      <% } %>
    </main>
  </body>
  <script type="module" src="js/main.js"></script>
</html>
