<nav>
  <p class="m0 txt-center">Release Timeline App</p>
</nav>
<main class="grid">
  <div id="banner">
    <h1 class="txt-center">Release Timeline App</h1>
    {{#if isLoggedIn}}
      <button tabindex="0" data-href="/timeline">Go to Your Timeline</button>
    {{else}}
      <button tabindex="0" data-href="/login">Log in with Spotify</button>
    {{/if}}
    <p class="txt-center">Subtitle.</p>
  </div>
</main>
