<main class="grid">
  <header id="banner" class="grid">
    <h1 class="txt-center">SoundRave</h1>
    <p class="m0 txt-center">Stay up to date with your favorite artists. The easy way.</p>
  </header>
  <div id="floating-button" class="grid">
    <a href="/login" class="block txt-center depth-1">Go to Your Timeline</a>
  </div>
</main>
<section>
  <header>
    <h1>Features</h1>
  </header>
  <ul>
    <li>Get the latest releases from your favorite artists</li>
    <li>Timeline format</li>
    <li>Works offline (Progressive Web App)</li>
  </ul>
</section>
