<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head.ejs'); %> 
  <body>
    <main>
      <% if (locals.artistNames) { %>
      <%- include('partials/followedArtists.ejs'); %>
      <% } else { %>
      <button>Sign in with Spotify</button>
      <% } %>
    </main>
  </body>
  <script type="module" src="js/main.js"></script>
</html>
