<main class="grid">
  <div id="banner" class="grid">
    <h1 class="txt-center">SoundRave</h1>
    <p class="m0 txt-center">Stay up to date with your favorite artists. The easy way.</p>
  </div>
  <div id="floating-button" class="grid">
    <a href="/login" class="block txt-center depth-1">Go to Your Timeline</a>
  </div>
</main>
