<main>
  <header id="banner">
    <h1 class="txt-center">SoundRave</h1>
    <p class="txt-center">Stay up to date with your favorite artists. The easy way.</p>
  </header>
  <div id="floating-button">
    <a href="/login" class="block txt-center depth-1">Go to Your Timeline</a>
  </div>
</main>
<article id="beta-description">
  <h1>Welcome to the Closed Beta!</h1>
  <p>You have been chosen to be one of the very first people to test SoundRave—a web app that allows you to keep track of your followed artists' latest releases. Currently, we only support integration with <a href="https://www.spotify.com" title="Spotify" rel="noreferrer" target="_blank">Spotify's services</a>. In the future, you will be able to link your <a href="https://music.apple.com" title="Apple Music" rel="noreferrer" target="_blank">Apple Music</a>, <a href="https://soundcloud.com" title="SoundCloud" rel="noreferrer" target="_blank">SoundCloud</a>, and <a href="https://music.youtube.com" title="YouTube Music" rel="noreferrer" target="_blank">YouTube Music</a> accounts as well.</p>

  <h1>Your Job as a Tester</h1>
  <p>As you can tell, the entire site is pretty much a "work in progress". Some features have not been fleshed out yet, but the core functionality is (hopefully) up and running. The UI design, too, is open to suggestions. Constructive feedback and comments are much appreciated.</p>
  <p>In regard to user experience, you can suggest features and improvements that will make it easier for you to navigate and use the app. These include suggestions about the placement of certain UI elements, the log-in flow, the animations, the privacy concerns, and so on and so forth.</p>
  <p>Most importantly of all, your job as a tester is to "test" the app's behavior. If you encounter any bugs, errors, or unexpected behaviors, please <a href="/about" title="Developers Page">report it to the developers</a>.</p>

  <h1>The Future Premium Option</h1>
  <p>Due to server performance limitations, the app must be able to serve users without taking too much time to process their data. As a consequence, this means that only 10 releases at a time are able to be presented to the user. This ensures service reliability for all users around the world.</p>
  <p>However, this ten-release limit may be too few for users who follow many artists. This is why we plan to monetize the app with a "premium" version. Currently, we can only offer an ad-free experience to premium users (in addition to increasing the release limit to 50).</p>
  <p>We are looking for more ways to monetize the app, but rest assured, as being one of the first testers of SoundRave, you will be guaranteed to receive the premium option.</p>

  <h1>Upcoming Features</h1>
  <p>In order to finally release the app under a beta stage, we had to postpone the implementation of certain features. Some of these will be available by the time of the official release. Given our limited resources, most of these will have to wait for a much longer time—unless, of course, you can <a href="/premium" title="Premium Users">donate to the developers</a> to work on this full-time. Server costs and maintainance are not cheap, so any financial assistance is greatly welcomed to keep this app running.</p>
  <p>Shameless plugs aside, below is a list of upcoming features that you can look forward to (in no particular order of priority).</p>
  <ul>
    <li>
      <span>Features that should be in the official release:</span>
      <ul>
        <li>Offline Capabilities</li>
        <li>App installation for mobile and desktop</li>
        <li>Premium option for those who wish to view more than 10 releases at a time</li>
        <li>Detailed description of our privacy policy</li>
        <li>Blog for the latest news about the app</li>
      </ul>
    </li>
    <li>
      <span>Features that will (indefinitely) come in the future:</span>
      <ul>
        <li>Apple Music Integration</li>
        <li>SoundCloud Integration</li>
        <li>YouTube Music Integration</li>
        <li>On-demand Track Preview (with Audio Visualizations)</li>
        <li>Automated Playlist Creation (similar to Spotify's Release Radar)</li>
        <li>Personalized suggestions to unfollow artists you rarely listen to</li>
      </ul>
    </li>
  </ul>

  <h1>The Future of the Brand</h1>
  <p>In today's age, the "brand" has become the most important aspect of a product. For SoundRave, this is no different, which is why we are carefully reconsidering the final "brand" for this app. For those who consider themselves to be artistic and creative, we will gladly listen to suggestions about the app's overall "vibe". We need as much help as we can with the logos, the app name, and the UI design. Hopefully, by the end of the beta stages, we can finalize the "look" and "feel" of SoundRave's user experience.</p>
  <p>In particular, the app name may be changed in the near future due to the <a href="https://www.namecheap.com/domains/registration/results?domain=soundrave" title="Link to domain listings related to SoundRave." rel="noreferrer" target="_blank">expensive nature</a> of registering catchy domain names. For now, we'll be sticking with SoundRave, but if you have any other suggestions, please do <a href="/about" title="Developers Page">contact the developers</a>.</p>
</article>
