<link href="/css/login.css" rel="stylesheet" />
<script defer="defer" src="/js/main.js"></script>
<main class="flex centered height-100vh">
  <div id="login" class="flex centered rounded-4">
    <button>Log in with Spotify</button>
  </div>
</main>
