* { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6, p, a {
  margin: 0;
  color: var(--ui-main-font-color);
  font-family: var(--ui-header-font), sans-serif;
  text-decoration: none;
}

body {
  display: grid;
  padding: 0;
  overflow-x: hidden;
  background-color: var(--prim-theme-color);
}