/* Global Variables */
:root {
  /** Themes */
  --prim-theme-color: #2f3942;
  --scnd-theme-color: #2c4a52;
  --alt-theme-color: #111;
  --acc-theme-color: #313d50;

  /** Fonts */
  --ui-header-font: 'Lexend Deca';
  --ui-main-font: 'Fira Sans';
  --ui-main-font-color: #fff;
  --ui-fade-font-color: #b1fff8;

  /* Shadow/Depth */
  --depth-1: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 2px 2px 0 rgba(0, 0, 0, 0.5);
  --depth-2: 0 6px 12px 4px rgba(0, 0, 0, 0.15), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
