<nav>
  <div>
    <img src="/svg/hamburger.svg" alt="Hamburger Icon" />
    <a href="/">SoundRave</a>
  </div>
  <div>
    <a href="/blog">Blog</a>
    <a href="/privacy">Privacy</a>
    <a href="/about">About</a>
  </div>
</nav>
