<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/pages/login.css" />
    <script defer="defer" src="/js/main.js"></script>
    {{> fonts}}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>SoundRave</title>
  </head>
  <body>
    {{> nav}}
    {{{ body }}}
  </body>
</html>
