<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Spotify Timeline</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {{> fonts}}
    <link rel="stylesheet" type="text/css" href="/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/css/util.css" />
    <link rel="stylesheet" type="text/css" href="/css/nav.css" />
    <link rel="stylesheet" type="text/css" href="/css/timeline.css" />
    <script defer="defer" src="/js/main.js"></script>
  </head>
  <body>
    {{> nav}}
    {{{ body }}}
  </body>
</html>
